/* required CSS */

.diagonal {
    position: relative;
    overflow: hidden;
}

.diagonal-layer {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

/* general config */

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
}

header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') repeat;
    background-size: 10%;
    animation: showBg 1.5s forwards;
}

@keyframes showBg {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

header h2 {
    color: black;
    font-size: 72px;
    font-weight: 200;
    margin: 0;
    line-height: 200px;
    text-shadow: 1px 2px 3px #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.fab {
    font-size: 30px;
    vertical-align: 30px;
    color: lightpink;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: lightpink;
}

button {
    border: 1px solid lightpink;
    border-radius: 10px;
    margin-left: 12px;
    padding: 4px 10px;
    font-size: 14px;
    color: white;
    background-color: lightpink;
    cursor: pointer;
}

button:hover {
    color: lightpink;
    background-color: white;
}

section {
    width: 700px;
    margin: 0 auto;
    padding: 10px 50px 20px;
    border-bottom: 1px dashed #dcdcdc;
}

section:last-of-type {
    border-bottom: none;
}

pre,
.diagonal,
button {
    display: inline-block;
}

pre {
    vertical-align: -12px;
    margin-left: 40px;
}

.hljs {
    width: 320px;
    height: 100px;
    padding: 0 10px;
}

/* set generic layer style */

.diagonal-layer {
    background: white;
}

section .diagonal {
    width: 300px;
    height: 100px;
    background-image: linear-gradient(45deg, lightblue, lightpink);
}

.fourth .diagonal-layer {
    animation-delay: 1s !important;
}

.header .diagonal-layer {
    animation-duration: 1s !important;
}

.fifth .diagonal-layer {
    animation-duration: 1.5s !important;
}

.sixth .diagonal-layer {
    opacity: 0.3;
}

@media screen and (max-width: 500px) {
    header {
        height: 100px;
    }
    header::before {
        background-size: 50%;
    }
    header h2 {
        font-size: 24px;
        line-height: 100px;
    }
    .fab {
        font-size: 24px;
        vertical-align: 10px;
    }
    section {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    section .diagonal {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    pre {
        display: block;
        margin: 0;
    }
    .hljs {
        width: auto;
    }
}